
.logo{
  height: 100px;
  width: 100px;
  border-radius: 130px;
 
    
}
.i{
  color: black;
}
.pop{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.color{
  color: white;
}
